.catalogo_container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #0f172a;
    min-height: 100vh;
}

.catalogo_titulo {
    text-align: center;
    color: #f8fafc;
    font-size: 2.5rem;
    margin-bottom: 40px;
    /*background: linear-gradient(90deg, #38bdf8, #818cf8);*/
    font-weight: bold;
}

.peliculas_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}